.user-components {
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-components,
.user-components__column:first-child {
  display: flex;
  align-items: center;
}

.user-components__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-components__title {
  font-weight: 600;
  font-size: 22px;
}

.user-components__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.exclamation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  margin-left: 3px;
  /* width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid red; */
}

.user-components__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.user-components__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}

.user-components__title--not-bold {
  font-weight: 400;
}

.user-components__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-components__time {
  margin-bottom: 10px;
  display: block;
}
